button{
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Courrier New", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(93,228,215);
  background: linear-gradient(90deg, rgba(93,228,215,1) 0%, rgba(29,117,253,1) 50%, rgba(200,69,252,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
